$c_white: #ffffff;
$c_secondary: #FF6A3C;
$c_black_1: #1B1D25;
$c_black_2: #32343B;
$c_black_3: #76777C;
$c_black_4: #A4A5A8;
$f_main: 'Poppins', sans-serif;
$f_secondary:'Syne', sans-serif;



h1{
    font-size: 94px;
}
h2{
    font-size: 78px;
}
h3{
    font-size: 64px;
}
h4{
    font-size: 56px;
}
h5{
    font-size: 48px;
}
h6{
    font-size: 36px;
}